services:
  devcontainer:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - /etc/localtime:/etc/localtime:ro,cached
    command: -c 'sleep infinity'
    user: vscode
    network_mode: "host"
    privileged: true
    group_add:
      - keep-groups
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    hostname: devcontainer
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
      nproc: 65535
